.striped-vest{
    background-color: #eeebeb3d;
}

label{
    font-weight: 500;
    color: #686666;
    font-size: 0.8rem;
}

.payment-method-img{
    max-width: 50px;
}


.selected-payment{
    border: 2px solid rgb(145, 8, 104) !important;
}

.text-sm{
    font-size: 1.2rem;
}

.text-xs{
    font-size: 0.8rem;
}