<div class="h-screen py-28 bg-[#1E1e1e]  bg-center" >
    <div class="w-75 rounded-xl mx-auto p-5 border border-gray-600" > <!--style="background-color: #523ab2;"-->
      <div class="mx-auto  p-2">

        <div class="row">
          <div class="col d-flex justify-content-center mb-3 mt-2">
            <h3>Buddy P2P dAPP</h3>
          </div>
        </div>

        <div class="rounded-xl p-2 justify-between">
          <div>
            <h2 class="text-3xl font-semibold mb-4">
              Start your crypto journey with us.
            </h2>
            <p class="text-gray-300 text-base">
              Easily Swap your FIAT Currency for any Crypto Currency - We support several Payment methods
            </p>
          </div>
        </div>
        <div class="flex-[0.67] pr-10 py-4" *ngIf="registrationForm">
          <h2 class="text-3xl bg-gradient-to-r text-transparent bg-clip-text from-[#FD42FB] via-[#CD9ECD] to-[#753FF3]  font-semibold mb-6">
            Sign up
          </h2>

          <div class="alert alert-info" *ngIf="alreadyRegistered">
            You are already registered. Start Trading
          </div>

          
          <form  *ngIf="!alreadyRegistered" [formGroup]="registrationForm" (ngSubmit)="submit($event)">
            <!-- Name -->
            <div class="form-group">
              <label class="font-semibold text-sm mb-1 text-gray-400" for="name">Name</label>
              <input type="text" id="name" class="form-control border border-gray-400 p-2 w-full rounded-lg mb-3" formControlName="name">
            </div>
            
            <!-- Email -->
            <div class="form-group">
              <label class="font-semibold text-sm mb-1 text-gray-400" for="email">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email">
              <div *ngIf="registrationForm.get('email')?.errors?.required && registrationForm.get('email')?.touched">
                Email is required.
              </div>
              <div class="error" *ngIf="registrationForm.get('email')?.errors?.email && registrationForm.get('email')?.touched">
                Invalid email format.
              </div>
            </div>

            <div>
                <label htmlFor="payment" class="font-semibold text-sm mb-1 text-gray-400">
                    Payment Methods
                </label>

                <div class="row  mb-4">
                    <div
                    (click)="paytmClicked()"
                    class="border border-gray-400 bg-gray-300  col-6 col-md-2 rounded-lg p-2 cursor-pointer m-2 hover:bg-white"
                    >
                    <img src="/assets/images/payment-icons/paytm.png" class="payment-method-img img-fluid"  alt="paytm" />
                    </div>
                
                    <div
                    (click)="phonepeClicked()"
                    class="border border-gray-400 bg-gray-300  col-6 col-md-2 rounded-lg p-2 cursor-pointer m-2 hover:bg-white"
                    >
                    <img src="/assets/images/payment-icons/phonepe.png" class="payment-method-img img-fluid"  alt="phonepe" />
                    </div>

                    <div
                    (click)="bankAccountClicked()"
                    class="border border-gray-400 bg-gray-300  col-6 col-md-2 rounded-lg p-2 cursor-pointer m-2 hover:bg-white"
                    >
                    <img src="/assets/images/payment-icons/bank-account.png" class="payment-method-img img-fluid"  alt="Bank Account" />
                    </div>
                
                    <div
                    (click)="gpayClicked()"
                    class="border border-gray-400 bg-gray-300 col-6 col-md-2 rounded-lg p-2 cursor-pointer m-2 hover:bg-white"
                    >
                    <img src="/assets/images/payment-icons/gpay.png" class="payment-method-img img-fluid"  alt="gpay" />
                    </div>
                
                    <div
                    (click)="paypalClicked()"
                    class="border border-gray-400 bg-gray-300  col-6 col-md-2 rounded-lg p-2 cursor-pointer m-2 hover:bg-white"
                    >
                    <img src="/assets/images/payment-icons/paypal.png" class="payment-method-img img-fluid"  alt="paypal" />
                    </div>

                </div>
            </div>
            
            <!-- GPay  -->
            <div class="form-group" *ngIf="showGpay">
              <label for="gpay" class="font-semibold text-sm mb-1 text-gray-400">Google Pay Payment Instruction </label>
              <textarea rows="3" type="text" id="gpay" class="form-control" formControlName="gpay"></textarea>
            </div>
            
            <!-- PhonePe  -->
            <div class="form-group" *ngIf="showPhonepe">
              <label for="phonepe" class="font-semibold text-sm mb-1 text-gray-400">Your Phone Pe  Payment Instruction </label>
              <textarea rows="3" type="text" id="phonepe" class="form-control" formControlName="phonepe"></textarea>
            </div>

            <div class="form-group mt-2" *ngIf="showBankAccount">
              <label for="bankName" class="font-semibold text-sm mb-1 text-gray-400">Your Bank Name </label>
              <input rows="3" type="text"  placeholder="Bank name" class="form-control" formControlName="bankName">
            </div>

            <div class="form-group mt-2" *ngIf="showBankAccount">
              <label for="bankAccountName" class="font-semibold text-sm mb-1 text-gray-400">Your Bank Account Name </label>
              <input rows="3" type="text"  placeholder="Account name" class="form-control" formControlName="bankAccountName">
            </div>

            <div class="form-group mt-2" *ngIf="showBankAccount">
                <label for="bankAccount" class="font-semibold text-sm mb-1 text-gray-400">Your Bank Account Number </label>
                <input rows="3" type="text"  placeholder="Account No" class="form-control" formControlName="bankAccount">
            </div>
            
            <!-- PayPal Email -->
            <div class="form-group" *ngIf="showPaypal">
              <label for="paypalEmail" class="font-semibold text-sm mb-1 text-gray-400">Your PayPal Email( Payment Instruction)</label>
              <textarea rows="3" type="text" id="paypalEmail" class="form-control" formControlName="paypalEmail"></textarea>
            </div>
            
            <!-- Paytm  -->
            <div class="form-group" *ngIf="showPaytm">
              <label for="paytm" class="font-semibold text-sm mb-1 text-gray-400">Your Paytm Payment Instruction </label>
              <textarea rows="3" type="text" id="paytm" class="form-control" formControlName="paytm"></textarea>
            </div>
            
            <!-- Submit Button -->
            

            <button
                class="py-2 mt-4 w-[15rem] text-lg text-white btn btn-primary"
                type="submit"
                [disabled]="registrationForm.invalid"
              >
                Sign up
            </button>
          </form>
        </div>
      </div>
      
    </div>
</div>
