<div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="banner-content ">
                    <h1 class="text-capitalize text-center fs-1 shadow">
                        Experience the most user-friendly method of purchasing and selling crypto
                    </h1>
                    <p class="my-4 text-center shadow">
                        Discover a decentralized person to person fiat-crypto marketplace connecting individuals to trade cryptocurrencies with support for a wide range of payment options
                    </p>
                    <div class="banner-btn d-flex justify-content-center">
                        <a
                            routerLink="/sell"
                            class="default-btn border-radius-5 btn-sm text-decoration-none"
                            >Start Selling</a
                        >
                        <a
                            routerLink="/buy"
                            class="default-btn two border-radius-5 btn-sm text-decoration-none"
                            >Start Buying</a
                        >
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <div class="banner-shape">
        <div class="shape-circle1">
            <img src="assets/images/shape/circle1.png" alt="shape" />
        </div>
        <div class="shape-circle2">
            <img src="assets/images/shape/circle2.png" alt="shape" />
        </div>
        <div class="shape-bg">
            <img src="assets/images/shape/bg-shape.png" alt="shape" />
        </div>
    </div> -->

    <br><br>
</div>
